{%- if let Some(h) = href %}<a class="cdx-card cdx-card--is-link" href="{{ h }}">{% else %}<span class="cdx-card">{% endif %}
	<span class="cdx-card__text">
		<span class="cdx-card__text__title">{{ title }}</span>
		{%- if let Some(d) = description %}
		<span class="cdx-card__text__description">{{ d }}</span>
		{%- endif %}
		{%- if let Some(s) = supporting %}
		<span class="cdx-card__text__supporting-text">{{ s }}</span>
		{%- endif %}
	</span>
{% if href.is_some() %}</a>{% else %}</span>{% endif %}
