<div class="cdx-field">
	<div class="cdx-label">
		<label class="cdx-label__label" for="{{ id }}"><span class="cdx-label__label__text">{{ label }}</span></label>
		{%- if let Some(d) = description %}
		<span class="cdx-label__description" id="{{ id }}-description">{{ d }}</span>
		{%- endif %}
	</div>
	<div class="cdx-field__control">
		<div class="cdx-text-input">
			<input class="cdx-text-input__input" id="{{ id }}" name="{{ name }}" type="{{ kind }}" value="{{ value }}"{% if description.is_some() %} aria-describedby="{{ id }}-description"{% endif %}{% if required %} required{% endif %}>
		</div>
	</div>
	{%- if let Some(h) = help %}
	<div class="cdx-field__help-text">{{ h }}</div>
	{%- endif %}
</div>
