<div class="cdx-table">
	{%- if let Some(h) = header %}
	<div class="cdx-table__header"><div class="cdx-table__header__caption" aria-hidden="true">{{ h }}</div></div>
	{%- endif %}
	<div class="cdx-table__table-wrapper">
		<table class="cdx-table__table">
			<caption>{{ caption }}</caption>
			<thead>
				<tr>
					{%- for c in columns %}
					<th scope="col"{% if let Some(a) = c.align.class() %} class="{{ a }}"{% endif %}>{{ c.label }}</th>
					{%- endfor %}
				</tr>
			</thead>
			<tbody>
				{%- if rows.is_empty() %}
				<tr class="cdx-table__table__empty-state"><td class="cdx-table__table__empty-state-content" colspan="{{ columns.len() }}">{{ empty }}</td></tr>
				{%- endif %}
				{%- for row in rows %}
				<tr>
					{%- for cell in row %}
					{%- if cell.header %}
					<th scope="row"{% if let Some(a) = cell.align.class() %} class="{{ a }}"{% endif %}{% if let Some(l) = cell.lang %} lang="{{ l }}" dir="auto"{% endif %}>{{ cell.html|safe }}</th>
					{%- else %}
					<td{% if let Some(a) = cell.align.class() %} class="{{ a }}"{% endif %}{% if let Some(l) = cell.lang %} lang="{{ l }}" dir="auto"{% endif %}>{{ cell.html|safe }}</td>
					{%- endif %}
					{%- endfor %}
				</tr>
				{%- endfor %}
			</tbody>
		</table>
	</div>
</div>
